/** @format */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 800px;
  min-width: 320px;
  height: 100%;
}

nav {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.nav__input-wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
}

.form-btns__wrapper {
  margin: 20px 0 0 0;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
}

.requestBlock {
  width: 200px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.requestBlock__parameter {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  background-color: rgb(216, 216, 216);
  text-align: center;
}

.resultsOfUncoding {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.resultsOfUncoding__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  height: 80px;
}
.resultsOfUncoding__component-string {
  font-size: large;
}

@media (max-width: 610px) {
  .resultsOfUncoding__component {
    height: 100%;
  }
}
@media (max-width: 570px) {
  nav {
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }
}
